.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #82ffa7;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 55px;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  margin-bottom: 30px;
}

button:hover {
  cursor: pointer;
}

.login {
  margin: 4% 20%;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border: 10px solid #82ffa7;
  border-radius: 12px;
  font-size: 15px;
}

input[type=text] {
  margin: 10px;
  background-color: #ceffdd;
}

input[type=number] {
  margin: 10px;
  background-color: #ceffdd;
}

input[type=submit] {
  background-color: white;
}

.sidebar {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  height: max-content;
  width: 200px;
  border-radius: 0px 8px 8px 0px;
}

.sidebar button {
  background-color: #82ffa7;
}

.sidebar form {
  margin-top: 10px;
}

.sidebar input {
  margin: 10px 0;
}

.new-meal-form {
  width: 100%;
  padding-top: 10px;
}

.new-meal-form button {
  margin-left: 10px;
  border-radius: 6px;
}

.totals-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%
}

.totals {
  border: 1px solid rgb(86, 255, 100);
  background-color: #82ffa7;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 30px 20px 10px 20px;
  width: 70%;
  height: max-content;
  font-size: 20px;
}

.totals h1 {
  font-size: 21px;
  color: rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}

.totals h1:hover {
  color:rgb(100, 100, 100);
  cursor: pointer;
}

.totals button {
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
}

.totals-not-selected {
  border: 1px solid rgb(86, 255, 100);
  background-color: #ceffdd;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 30px 20px 10px 20px;
  width: 70%;
  height: max-content;
  font-size: 20px;
}

.totals-not-selected h1 {
  font-size: 21px;
  color: rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}

.totals-not-selected h1:hover {
  color:rgb(100, 100, 100);
  cursor: pointer;
}

#home-text {
  margin-top: 20px;
}

.activity-card {
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);;
  padding: 10px;
  margin-top: 20px;
  font-size: 25px;
  width: 97%;
}

table {
  width: 95%;
  margin: auto

}

.activity-card th {
  background-color: #ffffff;
  border-radius: 8px;
  width: 50%;
  align-content: center;
  padding: 10px 15px 10px 15px;
}

#weight {
  font-size: medium;
  color: rgb(73, 73, 73);
}

#calories {
  font-size: medium;
  color: rgb(73, 73, 73);
  padding: 0 23px;;
}

.activity-card tr {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.activity-card td {
  padding: 12px 12px;
}

.activity-card button {
  background-color: #82ffa7;
  border-radius: 6px;
}
